.main-signup {
    text-align: center;
    width: 460px;
    margin: auto;
}
h3 {
    text-align: left;
    font-size: 14px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.signup {
    display: flex;
    padding: 10px;
    border: solid 1px #dadada ;
    margin: 0 auto;
    background: #fff;
}

