* {
    margin: 0;
    padding: 0;
}
 a{ text-decoration: none !important; }
img{ border: 0;}
ul { list-style: none;}
header, footer, section { box-sizing: border-box;}

.wordview1 {
    width: 150px;
    height: 200px;
    padding: 10px;
}