.container{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 50px;
}

.product {
    display: flex;
    padding: 10px;
    text-align: center;
    background: #222;
}


